html, body {
    height: 100%;
}

body * {
    padding: 5px 0;
}

section {
    border-style: inset;
    border-color: #DFD9B3;
    border-width: 3px;
    padding: 15px;
    width: 50%;
    text-align: center;
}

section p {
    font-size: 200%;
}

section#next_meeting {
    float: left;
    min-height: 50%;
}
