html, body {
    height: 100%;
}

body * {
    padding: 5px 0;
}

section {
    border: 3px dashed #dfd9b3;
    padding: 2.5%;
    width: 50%;
    text-align: center;
    overflow: auto;
    position: absolute;
}

.next_meeting p {
    font-size: 200%;
}

.next_meeting p.no_meeting {
    float: left;
    width: 60%;
}

.next_meeting .ninja_iguana {
    float: right;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.next_meeting, .past_meetings {
    height: 50%;
    border-top: none;
    border-left: none;
}

.past_meetings {
    top: 50%;
    border-bottom: none;
}

.meeting_notes {
    border: none;
    left: 50%;
    height: 100%;
}
