body {
    width: 75%;
    margin: auto;
}

input[type=submit] {
    border-radius: 10px;
    border: 2px solid #2b2017;
    background-color: #e0d29d;
    font-family: 'Averia Serif';
    color: #2b2017;
    cursor: pointer;
    padding: 2%;
}

table {
    margin: 5% 0;
    width: 100%;
}
