body {
    padding: 10% 25%;
}

body * {
    padding: 5px 0;
}

form {
    position: absolute;
    right: 25%;
}

input, textarea {
    right: 0;
    padding: 5px;
    font-size: 100%;
    width: 300px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 5px;
}

input[type=text], textarea {
    border: 2px solid gray;
    border-style: inset;
    border-radius: 5px;
}

label ~ textarea {
    vertical-align: top;
}

textarea {
    height: 6em;
}

input[type=submit] {
    border-radius: 10px;
    border: 2px solid black;
    background-color: #e0d29d;
    font-family: 'Averia Serif';
    color: #2b2017;
    cursor: pointer;
    position: absolute;
}
