body {
    padding: 10% 25%;
}

body * {
    padding: 5px 0;
}

form {
    margin-left: 25%;
}

input, textarea {
    right: 0;
    padding: 5px;
    font-size: 100%;
    width: 70%;
    height: 1.75em;
}

label {
    display: inline-block;
    width: 25%;
    text-align: right;
    margin-right: 1%;
}

input[type=text], textarea {
    border: 2px solid #2b2017;
    border-style: inset;
    border-radius: 10px;
    color: #2b2017;
}

label ~ textarea {
    vertical-align: top;
}

textarea {
    height: 8em;
}

input[type=submit] {
    border-radius: 10px;
    border: 2px solid #2b2017;
    background-color: #e0d29d;
    font-family: 'Averia Serif';
    color: #2b2017;
    cursor: pointer;
    margin-left: 27%;
}

.errors {
    position: absolute;
    width: 18%;
    margin-left: 37.5%;
    background-color: #FCC;
    padding: 0.35em 1%;
    font-size: 80%;
    border-radius: 5px;
    margin-top: -2.175em;
}
