{% autoescape None %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel=stylesheet type=text/css media=screen href="{{ static_url("css/reset.css") }}">
        <link rel=stylesheet type=text/css media=screen href="{{ static_url("css/kaigi.css") }}">
        <link rel=stylesheet type=text/css media=screen href="{{ static_url("css/fonts.css") }}">
        <link rel=stylesheet type=text/css media=screen href="{{ static_url("css/setup.css") }}">
    </head>
    <body>
        <h1>{{ _("Welcome to Kaigi!") }}</h1>
        <p>{{ _("Enter some information below about your meeting group to start using Kaigi") }}</p>

        <form action="{{ request.uri }}" method="post" accept-charset="utf-8">
            {{ xsrf_form_html() }}
            <ul>
                {% for field in form %}
                <li>
                    {{ field.label() }}
                    {{ field() }}

                    {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% end %}
                    </ul>
                    {% end %}
                </li>
                {% end %}
                <li><input type="submit" value="{{ _("Start using!") }}"></li>
            </ul>
        </form>
    </body>
</html>
