{% autoescape None %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    </head>
    <body>
        <form action="{{ request.uri }}" method="post" accept-charset="utf-8">
            {{ xsrf_field }}
            <ul>
                <li>
                    {{ form.name.label() }}
                    {{ form.name() }}

                    {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% end %}
                    </ul>
                    {% end %}
                </li>
                <li>
                    {{ form.description.label() }}
                    {{ form.description() }}

                    {% if form.description.errors %}
                    <ul class="errors">
                        {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                        {% end %}
                    </ul>
                    {% end %}
                </li>
                <li><input type="submit" value="Start using!"/></li>
            </form>
        </body>
    </html>
