{% autoescape None %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ _("Subscribe to") }} {{ kaigi.name }}</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel=stylesheet media=screen href="{{ static_url("css/reset.css") }}">
        <link rel=stylesheet media=screen href="{{ static_url("css/kaigi.css") }}">
        <link rel=stylesheet media=screen href="{{ static_url("css/fonts.css") }}">
    </head>
    <body>
        <form action="{{ request.uri }}" method="post" accept-charset="utf-8">
            {{ xsrf_field }}
            <input type="submit" value="Subscribe">
        </form>
    </body>
</html>
